dreambox/mis.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://localhost/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="soap"
	targetNamespace="http://localhost/soap/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://localhost/soap/">
			<xsd:element name="syncSchoolInfo">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="syncSchoolInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="syncCourse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="syncCourseResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="syncSchoolInfoRequest">
		<wsdl:part name="parameters" element="tns:syncSchoolInfo"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="syncSchoolInfoResponse">
		<wsdl:part name="parameters" element="tns:syncSchoolInfoResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="syncCourseRequest">
		<wsdl:part name="parameters" element="tns:syncCourse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="syncCourseResponse">
		<wsdl:part name="parameters" element="tns:syncCourseResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="soap">
		<wsdl:operation name="syncSchoolInfo">
			<wsdl:input message="tns:syncSchoolInfoRequest"></wsdl:input>
			<wsdl:output message="tns:syncSchoolInfoResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="syncCourse">
			<wsdl:input message="tns:syncCourseRequest"></wsdl:input>
			<wsdl:output message="tns:syncCourseResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>


	<wsdl:binding name="soapSOAP" type="tns:soap">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="syncSchoolInfo">
			<soap:operation soapAction="http://localhost/soap/syncSchoolInfo" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="syncCourse">
			<soap:operation soapAction="http://localhost/soap/syncCourse" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>
	<wsdl:service name="soap">
		<wsdl:port binding="tns:soapSOAP" name="soapSOAP">
			<soap:address location="http://localhost/dreambox/MisServer.php" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>